<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MarieSelbyProject.Properties.Settings.MS_GARDENSConnectionString"
            connectionString="Data Source=AJ-DESKTOP;Initial Catalog=MS_GARDENS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>